// This file was generated for Start Bootstrap Admin Pro
// https://startbootstrap.com/theme/sb-admin-pro
// Place this file in src/scss/_variables-colors-overrides.scss

$primary: #030e4e !default;
$secondary: #f4a01c !default;
$success: #00ac69;
$info: #00cfd5;
$warning: #f4a100;
$danger: #e81500;
